In [32]:
from pathlib import Path

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [33]:
data = pd.read_parquet(Path("data") / "train.parquet")
data.head()

,counter_id,counter_name,site_id,site_name,bike_count,date,counter_installation_date,coordinates,counter_technical_id,latitude,longitude,log_bike_count
48321,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,0.0,2020-09-01 02:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,0.000000
48324,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,1.0,2020-09-01 03:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,0.693147
48327,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,0.0,2020-09-01 04:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,0.000000
48330,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,4.0,2020-09-01 15:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,1.609438
48333,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,9.0,2020-09-01 18:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,2.302585

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 496827 entries, 48321 to 929187
Data columns (total 12 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   counter_id                 496827 non-null  category
 1   counter_name               496827 non-null  category
 2   site_id                    496827 non-null  int64
 3   site_name                  496827 non-null  category
 4   bike_count                 496827 non-null  float64
 5   date                       496827 non-null  datetime64[us]
 6   counter_installation_date  496827 non-null  datetime64[us]
 7   coordinates                496827 non-null  category
 8   counter_technical_id       496827 non-null  category
 9   latitude                   496827 non-null  float64
 10  longitude                  496827 non-null  float64
 11  log_bike_count             496827 non-null  float64
dtypes: category(5), datetime64[us](2), float64(4), int64(1)
memory usage: 32.7 MB

In [35]:
data.nunique(axis=0)

counter_id                     56
counter_name                   56
site_id                        30
site_name                      30
bike_count                    998
date                         8974
counter_installation_date      22
coordinates                    30
counter_technical_id           30
latitude                       30
longitude                      30
log_bike_count                998
dtype: int64

In [36]:
start_date = data["date"].min()
end_date = data["date"].max()
print(start_date, end_date)

2020-09-01 01:00:00 2021-09-09 23:00:00

In [37]:
data["counter_name"].unique()

['28 boulevard Diderot E-O', '28 boulevard Diderot O-E', '39 quai François Mauriac NO-SE', '39 quai François Mauriac SE-NO', '18 quai de l'Hôtel de Ville NO-SE', ..., '90 Rue De Sèvres SO-NE', '20 Avenue de Clichy NO-SE', '20 Avenue de Clichy SE-NO', '254 rue de Vaugirard NE-SO', '254 rue de Vaugirard SO-NE']
Length: 56
Categories (56, object): ['152 boulevard du Montparnasse E-O', '152 boulevard du Montparnasse O-E', '18 quai de l'Hôtel de Ville NO-SE', '18 quai de l'Hôtel de Ville SE-NO', ..., 'Totem Cours la Reine E-O', 'Totem Cours la Reine O-E', 'Voie Georges Pompidou NE-SO', 'Voie Georges Pompidou SO-NE']

In [ ]:
for counter in data["counter_name"].unique():
   mask = data["counter_name"] == counter
   plt.figure(figsize=(4, 8))
   data[mask].groupby(pd.Grouper(freq="1w", key="date"))[
   ["log_bike_count"]
   ].sum().plot()
   plt.title(counter)

/var/folders/mj/kcf7qyqx3tscrsshg63cxj380000gn/T/ipykernel_43705/1678184817.py:4: FutureWarning: 'w' is deprecated and will be removed in a future version, please use 'W' instead.
  data[mask].groupby(pd.Grouper(freq="1w", key="date"))[
/var/folders/mj/kcf7qyqx3tscrsshg63cxj380000gn/T/ipykernel_43705/1678184817.py:4: FutureWarning: 'w' is deprecated and will be removed in a future version, please use 'W' instead.
  data[mask].groupby(pd.Grouper(freq="1w", key="date"))[
/var/folders/mj/kcf7qyqx3tscrsshg63cxj380000gn/T/ipykernel_43705/1678184817.py:4: FutureWarning: 'w' is deprecated and will be removed in a future version, please use 'W' instead.
  data[mask].groupby(pd.Grouper(freq="1w", key="date"))[
/var/folders/mj/kcf7qyqx3tscrsshg63cxj380000gn/T/ipykernel_43705/1678184817.py:4: FutureWarning: 'w' is deprecated and will be removed in a future version, please use 'W' instead.
  data[mask].groupby(pd.Grouper(freq="1w", key="date"))[
/var/folders/mj/kcf7qyqx3tscrsshg63cxj380000gn/T/ipykernel_43705/1678184817.py:4: FutureWarning: 'w' is deprecated and will be removed in a future version, please use 'W' instead.
  data[mask].groupby(pd.Grouper(freq="1w", key="date"))[
/var/folders/mj/kcf7qyqx3tscrsshg63cxj380000gn/T/ipykernel_43705/1678184817.py:4: FutureWarning: 'w' is deprecated and will be removed in a future version, please use 'W' instead.
  data[mask].groupby(pd.Grouper(freq="1w", key="date"))[
/var/folders/mj/kcf7qyqx3tscrsshg63cxj380000gn/T/ipykernel_43705/1678184817.py:4: FutureWarning: 'w' is deprecated and will be removed in a future version, please use 'W' instead.
  data[mask].groupby(pd.Grouper(freq="1w", key="date"))[
/var/folders/mj/kcf7qyqx3tscrsshg63cxj380000gn/T/ipykernel_43705/1678184817.py:4: FutureWarning: 'w' is deprecated and will be removed in a future version, please use 'W' instead.
  data[mask].groupby(pd.Grouper(freq="1w", key="date"))[
/var/folders/mj/kcf7qyqx3tscrsshg63cxj380000gn/T/ipykernel_43705/1678184817.py:4: FutureWarning: 'w' is deprecated and will be removed in a future version, please use 'W' instead.
  data[mask].groupby(pd.Grouper(freq="1w", key="date"))[
/var/folders/mj/kcf7qyqx3tscrsshg63cxj380000gn/T/ipykernel_43705/1678184817.py:4: FutureWarning: 'w' is deprecated and will be removed in a future version, please use 'W' instead.
  data[mask].groupby(pd.Grouper(freq="1w", key="date"))[
/var/folders/mj/kcf7qyqx3tscrsshg63cxj380000gn/T/ipykernel_43705/1678184817.py:3: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`). Consider using `matplotlib.pyplot.close()`.
  plt.figure(figsize=(4, 8))
/var/folders/mj/kcf7qyqx3tscrsshg63cxj380000gn/T/ipykernel_43705/1678184817.py:4: FutureWarning: 'w' is deprecated and will be removed in a future version, please use 'W' instead.
  data[mask].groupby(pd.Grouper(freq="1w", key="date"))[
/var/folders/mj/kcf7qyqx3tscrsshg63cxj380000gn/T/ipykernel_43705/1678184817.py:4: FutureWarning: 'w' is deprecated and will be removed in a future version, please use 'W' instead.
  data[mask].groupby(pd.Grouper(freq="1w", key="date"))[
/var/folders/mj/kcf7qyqx3tscrsshg63cxj380000gn/T/ipykernel_43705/1678184817.py:4: FutureWarning: 'w' is deprecated and will be removed in a future version, please use 'W' instead.
  data[mask].groupby(pd.Grouper(freq="1w", key="date"))[
/var/folders/mj/kcf7qyqx3tscrsshg63cxj380000gn/T/ipykernel_43705/1678184817.py:4: FutureWarning: 'w' is deprecated and will be removed in a future version, please use 'W' instead.
  data[mask].groupby(pd.Grouper(freq="1w", key="date"))[
/var/folders/mj/kcf7qyqx3tscrsshg63cxj380000gn/T/ipykernel_43705/1678184817.py:4: FutureWarning: 'w' is deprecated and will be removed in a future version, please use 'W' instead.
  data[mask].groupby(pd.Grouper(freq="1w", key="date"))[
/var/folders/mj/kcf7qyqx3tscrsshg63cxj380000gn/T/ipykernel_43705/1678184817.py:4: FutureWarning: 'w' is deprecated and will be removed in a future version, please use 'W' instead.
  data[mask].groupby(pd.Grouper(freq="1w", key="date"))[